:root{
    --bodyBG: rgb(218, 235, 251);
}

.news-container{
    padding: 50px 130px;
    background-color: var(--bodyBG);
}

.news-title{
    margin-bottom: 20px;
}

.news-image{
    margin-bottom: 20px;
}

.news-description{
    line-height: 1.3;
}

@media(max-width: 800px){
    .news-container{
        padding: 30px 30px;
    }
}
